.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    height: 287px;
    background: rgb(238, 238, 238);
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 537px;

        place-items: center;
        height: 20vh;
        margin-right: -225px;
        

        img {
            width: 263px;
            height: 69px;
            max-width: 100%;
            margin-bottom: 20px;
        }

        p {
            width: 428px;
            height: 88px;
            color: rgb(41, 41, 41);
            font-family: Montserrat;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0%;
            text-align: left;
            margin: 0;
            margin-right: -90px;
        }
    }

    .totext {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        ul {
            list-style: none; 
            padding: 0; 
            margin: 0;
            display: grid; 
            grid-template-columns: repeat(2, 1fr); 
            
        }
            li {
                padding: 10px;
                color: rgb(0, 0, 0);
            
            }
        }

        .tocontact {
          display: flex;
          justify-content: center;
          align-items: center; 
          flex-direction: column;
          place-items: center;
          height: 20vh; 
          margin-right: 160px;

          .number {
            width: 236px;
            height: 58px;
            border-radius: 8px;
            background: rgb(250, 0, 44);
            color: rgb(255, 255, 255);
            border: none;
            cursor: pointer;
            font-weight: bold;
          }

          .icon {
            display: inline-block;
            width: 20px; 
            height: 20px; 
            margin-right: 10px;
            background-size: cover;
            background-repeat: no-repeat; 
            background-position: center;
            gap: 5px;
            margin-bottom: -5px;
          }

          p {
            color: rgb(41, 41, 41);
            // text-align: start;
            // margin-left: 20px;

            img {
                margin-bottom: -10px;
                margin-right: 5px;
            }
        }
        }
}