.section{
    background-image: url(../../img//Mask\ group.png); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 840px;
    width: 1900px;
    margin: 0 auto; 
 }
 .Conteiner-01{
    width: 812px;
    height: 595px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.64);
    margin-left: 120px;
    margin-top: -730px;
     font-family: Montserrat;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0%;

 }
 .Conteiner-01 h1{
   /* Анализируем мировой авто-рынок */
width: 700px;
height: 140px;
margin-left: 52.68px;
right: -23.89px;
top: 33.11px;
}

.Conteiner-01 h3{
width: 424px;
height: 36px;
margin-left: 7.46%;
right: 66.23%;
margin-top: -16px;
bottom: -1252.78%;

/* Shrift*/
    color: rgb(0, 0, 0);
font-family: Montserrat;
font-size: 26px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
 .section img{

width: 1077px;
height: 542px;
left: 750px;
right: 93px;
top: 270px;
bottom: 28px;

 }
 .IoMdCheckmark{
    font-size: 25px;
    font-weight: 600;
 }
 .Conteiner-01 button{
    border-radius: 8px;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.2);
    background: rgb(250, 0, 44);
    /* Rectangle 669 */
    width: 301px;
    height: 80px;
    margin-left: 6.66%;
    right: 101.66%;
    margin-top: 70px;
    bottom: -760%;
    border: none;
    color: aliceblue;
    
 }
 .Container-02{
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.3);
    /* Rectangle 669 */
    position: absolute;
    width: 181px;
    height: 212px;
    left: 1123px;
    top: 269px;
    z-index: 5;
 }
 .Container-02 h1{
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
/* Смотреть Авто */
position: absolute;
width: 94px;
height: 48px;
left: 35px;
right: -1166px;
top: 125px;
bottom: -312px;
 }
 .Play-Video{
    background: rgb(255, 255, 255);
    /* Vector */
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50.25px;
    right: -1466.25%;
    top: 39px;
    bottom: -390%;
    border-radius: 50%;
 }
 .FaPlay{
    margin-left: 30px;
    margin-top: 25px;
    font-size: 30px;
    color: black;
 }

 .Telegramm{
        /* Group 2932 */
    
    width: 80px;
    height: 80px;
    left: 27.92%;
    right: 6.44%;
    top: 69%;
    bottom: -603.75%;
 }
 .YouTube{
    /* Group 2932 */
    position: absolute;
    width: 80px;
    height: 80px;
    left: 27.92%;
    right: 6.44%;
    top: 69%;
    bottom: -603.75%;
 }
 .App-TY{
    margin: 0 auto
    ;
 }