.Kmh {
  background-image: url("../../assets/img/Kmh.png");
  width: 1250px;
  height: 540px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}


.Red {
  position: absolute;
  width: 461px;
  height: 10px;
  left: 410px;
  right: 239px;
  top: 565px;
  bottom: -6164px;
  border-radius: 4px;
}
.Play {
  background-color: aliceblue;
  width: 100px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  opacity: 0.6;
}
.main h1 {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0%;
}
.main p {
    color: rgb(41, 41, 41);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.main {
    width: 1250px;
    margin: 0 auto;
}