.Section-Contact{
    margin: 0 auto;
    width: 1440px;
    /* position: relative; */
    /* display: flex; */
}
.container {
    width: 1300px;
    display: flex;
    justify-content: space-evenly;

}

.Contact-div_1 {
    width: 700px;
}
/* Container 1 */
.Contact-div_1 p{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;
    cursor: pointer;
    /* Главная → Контакты */
    /* position: absolute; */
    width: 185px;
    height: 24px;
}
.Contact-div_1 h1{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0%;
    text-align: left;
    width: 852px;
    /* height: 69px; */
}
.Contact-div_1 h6{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    /* Для оперативной */
    /* position: absolute; */
    width: 496px;
    height: 52px;

}

.apps-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 634.92px;
    height: 173px;

}

.Contact-div_2{
    border-radius: 22px;
    box-shadow: 0px 2px 50px 0px rgba(35, 37, 38, 0.07);
    background: rgb(255, 255, 255);
    width: 450px;
    text-align: start;
    text-align: center;
    padding: 30px;

}
.Contact-div_2 h1{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
    width: 343px;
}
.Contact-div_2 h3{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    width: 328px;
}
.inputs{
    box-sizing: border-box;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 14px;
    background: rgb(255, 255, 255);
    width: 449px;
    height: 72px;
    text-align: center;
    margin-bottom: 15px;
}
/* end input */
.Contact-div_2 button{
    border-radius: 14px;
    background: rgb(250, 0, 44);
    width: 400px;
    height: 72px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}
.Contact-div_2 button:hover {
    box-shadow: 0px 12px 60px 0px rgba(250, 0, 44, 0.4);
    cursor: pointer;
    transform: scale(1.03);
    transition: ease-in-out 0.5s;

}
.check-box-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -5px;
}