.Section-Contact{
    margin: 0 auto;
}
/* Container 1 */
.Contact-div_1 p{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;
    /* Главная → Контакты */
    position: absolute;
    width: 206px;
    height: 24px;
    left: 170px;
    right: 1480px;
    top: 148px;
    bottom: 1694px;
}
.Contact-div_1 h1{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0%;
    text-align: left;
    /* Контактная информация */
    position: absolute;
    width: 852px;
    height: 69px;
    left: 170px;
    right: 834px;
    top: 209px;
    bottom: 1588px;
}
.Contact-div_1 h6{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    /* Для оперативной */
    position: absolute;
    width: 496px;
    height: 52px;
    left: 170px;
    right: 1190px;
    top: 299px;
    bottom: 1515px;
}

.apps-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Group 31 */
    position: absolute;
    width: 634.92px;
    height: 173px;
    left: 170px;
    right: 1051.08px;
    top: 410px;
    bottom: 1292px;
}

/* Contact-div_2 */

.Contact-div_2{
    border-radius: 22px;
    box-shadow: 0px 2px 50px 0px rgba(35, 37, 38, 0.07);
    background: rgb(255, 255, 255);
    /* Rectangle 10 */
    position: absolute;
    width: 470px;
    height: 600px;
    left: 901px;
    right: -1131px;
    top: 50px;
    bottom: -209px;
}
.Contact-div_2 h1{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0%;
    text-align: left;
    /* Обратная связь */
    position: absolute;
    width: 343px;
    height: 69px;
    left: 13px;
    right: -975px;
    top: 2px;
    bottom: 339px;
}
.Contact-div_2 h3{
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    /* Заполните форму и мы свяжемся с вами как можно скорее */
    position: absolute;
    width: 328px;
    height: 52px;
    left: 13px;
    right: -960px;
    top: 90px;
    bottom: 285px;
}
/* Input */
.Contact-div_2_inp1{
    box-sizing: border-box;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 14px;
    background: rgb(255, 255, 255);
    /* Rectangle 669 */
    position: absolute;
    width: 449px;
    height: 72px;
    left: 13px;
    top: 190px;
    text-align: center;
}
.Contact-div_2_inp2{
    box-sizing: border-box;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 14px;
    background: rgb(255, 255, 255);
    /* Rectangle 669 */
    position: absolute;
    width: 449px;
    height: 72px;
    left: 13px;
    top: 290px;
    text-align: center;
}
.Contact-div_2_inp3{
    box-sizing: border-box;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 14px;
    background: rgb(255, 255, 255);
    /* Rectangle 669 */
    position: absolute;
    width: 449px;
    height: 72px;
    left: 13px;
    top: 390px;
    text-align: center;
}
/* end input */
.Contact-div_2 button{
    border-radius: 14px;
    box-shadow: 0px 12px 60px 0px rgba(250, 0, 44, 0.4);
    /* Красный */
    background: rgb(250, 0, 44);
    /* Rectangle 669 */
    position: absolute;
    width: 400px;
    height: 72px;
    left: 40px;
    right: -1173px;
    top: 470px;
    bottom: -654px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
}
.check-box-text{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -5px;
    margin-top: 520px;
}