.sectoin {
  background-image: url(../EncarRus/Assets/img/Mask\ group.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1440px;
  height: 540px;
  box-sizing: border-box;
  border: 7px solid rgb(231, 231, 231);
  border-radius: 36px;
}

.title >p {
    color: rgb(41, 41, 41);
    /* font-family: Montserrat; */
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-left: 50px; */
}
